.special {
  height:100vh;
  position: relative;
}

.my-name {
  position: absolute;
  left: 21vw;
  top: 82vh;
  color: white;
  z-index: 2;
  text-align: center;
  font-size: 82px;
}
.my-land {
 position: absolute;
  left: 667px;
  top: 3vh;
  color: white;
  z-index: 2;
  text-align: center;
  animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    font-size: 91px;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}




.footer {
  margin-bottom: 264px;
}
.main {
  margin-bottom: 659px;
  margin-top: 34px;

} 

.bars {
  position: fixed;
  top: 1vh;
  left: 1vh;
  z-index: 1;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /*Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
color:white;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .my-land {top: 16vh; left:15vw;font-size: 40px;}
  .my-name {left: -1vw; top:71vh; font-size: 39px;}
}

body {
  -webkit-font-smoothing: antialiased;
  /* background-color: black; */
}

.earth-demo {
  background: #000;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  overflow: hidden;
}

.earth-demo:before {
  background-size: cover;
  background: url(https://cssanimation.rocks/images/random/space2.jpg) repeat center;
  content: "";
  opacity: .5;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.earth {
  position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  
}
.earth img {
    height: 200px;
    position: absolute;
      top: 0;
      left: 0;
    width: 200px;
  }

.moon-container {
  position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.moon {
  animation: spin 20s linear infinite;
  background: none;
  height: 50px;
  pointer-events: none;
  transform-origin: 25px;
  width: 50px;
  z-index: 0;

}


 .moon img {
    transform: translateX(-160px) translateY(-160px);
    width: 50px;
  }

.earth img, .moon img {
  border-radius: 50%;
  box-shadow: 0 0 12em 1em rgba(110, 140, 200, .6);
}


@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

i {
  padding-left: 20px;
    padding-top: 20px;
}


